#divMenu {
    opacity: 0;
    position: fixed;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.25rem;
    z-index: 10;
    padding: 5px 0;
    background-color: #687587;
    top: 50%;
}

@keyframes titleMenuRoteatedIn {
    0% {
        transform: rotate(-90deg);
        margin: 32px 30px 0 0;
    }

    100% {
        transform: rotate(0deg);
        margin: 4px 0 -7px 0px;
    }
}

@keyframes titleMenuRoteatedOut {
    0% {
        transform: rotate(0deg);
        margin: 4px 0 -7px 0px;
    }

    100% {
        transform: rotate(-90deg);
        margin: 32px 30px 0 0;
    }
}

.titleMenuRoteated {
    animation: titleMenuRoteatedIn 0.2s ease-in-out forwards;
    font-size: 24px;
    margin: 32px 30px 0 0;
}

#titleMenu:not(.titleMenuRoteated) {
    animation: titleMenuRoteatedOut 0.2s ease-in-out forwards;
    font-size: 17px;
}

#menu:not(.exibir) {
    display: none;
}

#menu>p {
    margin-top: -30px;
}

#menu>p>a {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

#menu>li>a {
    color: #fff;
    text-decoration: none;
    padding: 5px 2rem;
}

#menu>li>a:hover {
    background-color: #fff;
    color: #687587;
    font-weight: bold;
}

@keyframes exibirLinks {
    0% {
        display: none;
        opacity: 0;
    }

    50% {
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 15px;
        height: 90%;
        display: flex;
    }

    100% {
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 15px;
        height: 90%;
        display: flex;
        opacity: 1;
    }
}

.exibir {
    animation: exibirLinks 0.5s ease-in-out forwards;
}

/* Definição da animação */
@keyframes slideIn {
    0% {
        right: -35px;
        height: 87px;
        width: 60px;
    }

    50% {
        width: 10rem;
        height: 15rem;
        right: 0;
    }

    100% {
        width: 10rem;
        height: 15rem;
        right: 0;
    }

}

/* Aplicação da animação ao elemento */
.rotated {
    animation: slideIn 0.5s ease-in-out forwards;
    font-size: 20px;
}

/* Definição da animação ao remover a classe rotated */
@keyframes slideOut {
    0% {
        width: 10rem;
        height: 15rem;
        right: 0;
    }

    50% {
        right: -35px;
        height: 87px;
        width: 60px;
    }

    100% {
        right: -35px;
        height: 87px;
        width: 60px;
    }
}

/* Aplicação da animação ao elemento quando a classe rotated é removida */
#divMenu:not(.rotated) {
    animation: slideOut 0.5s ease-in-out forwards;
    font-size: 17px;
}

/* classe aplicada com determinada url */
.liOutPortal{
    font-size: 9px;
}

.titleMenuOutPortal{
    font-size: 17px;
}