#divMenu {
    position: fixed;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.25rem;
    z-index: 10;
    padding: 5px 0;
    background-color: #687587;
    top: 50%;
}

.esconderTitleMenu {
    display: none;
}

#closeMenu:not(.exibirCloseMenu) {
    display: none;
}

.exibirCloseMenu {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px;
}

#menu:not(.exibir) {
    display: none;
}

#menu>p {
    margin-top: -30px;
}

#menu>p>a {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

#menu>li>a {
    color: #fff;
    text-decoration: none;
    padding: 5px 2rem;
}

#menu>li>a:hover {
    color: #5e9dbb;
    font-weight: bold;
}

.exibir {
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 15px;
    height: 90%;
    display: flex;
}



/* Definição da animação */
@keyframes slideIn {
    0% {
        transform: rotate(-90deg);
        right: -35px;
        width: 80px;
        height: 36px;
    }

    50% {
        width: 10rem;
        height: 15rem;
        right: 0;
        transform: rotate(-90deg);
    }

    100% {
        width: 10rem;
        height: 15rem;
        right: 0;
        transform: rotate(0);
    }

}

/* Aplicação da animação ao elemento */
.rotated {
    animation: slideIn 0.5s ease-in-out forwards;
    font-size: 20px;
}

/* Definição da animação ao remover a classe rotated */
@keyframes slideOut {
    0% {
        width: 10rem;
        height: 15rem;
        right: 0;
        transform: rotate(0);
    }

    50% {
        right: -35px;
        width: 80px;
        height: 36px;
        transform: rotate(0);
    }

    100% {
        right: -35px;
        width: 80px;
        height: 36px;
        transform: rotate(-90deg);
    }
}

/* Aplicação da animação ao elemento quando a classe rotated é removida */
#divMenu:not(.rotated) {
    animation: slideOut 0.5s ease-in-out forwards;
    font-size: 17px;
}